<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>行情接受情况</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link rel="shortcut icon" href="../../static/static/favicon.ico" th:href="@{/static/favicon.ico}">
    <link href="../../static/static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet" th:href="@{/static/css/bootstrap.min14ed.css}">
    <link href="../../static/static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link href="../../static/static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet" th:href="@{/static/css/font-awesome.min93e3.css}">
    <link href="../../static/static/css/animate.min.css" rel="stylesheet" th:href="@{/static/css/animate.min.css}">
    <link href="../../static/static/css/style.min.css?v=4.1.0" rel="stylesheet" th:href="@{/static/css/style.min.css}">
    <link href="../../static/static/css/common/common-page.css" rel="stylesheet" th:href="@{/static/css/common/common-page.css}">
    <link href="../../static/static/css/pages/systemLog.css" rel="stylesheet" th:href="@{/static/css/pages/systemLog.css}">
</head>

<body :controller="busiAccept" class="white-bg">
    <div class="row wrapper border-bottom white-bg wrapper-content sl_toolbar">
        <div class="col-sm-12">
            <div class="toolbar-box text-right title-querybtn">
                <button :attr="{disabled:(@busiAccept.businessAcceptDtoList.length==0)?'disabled':''}" id="save_btn" class="btn btn-primary" type="button"><i class="fa fa-plus"></i>&nbsp;保存</button>&nbsp;

            </div>
        </div>
    </div>
    <div class="row datagrid-box white-bg border-bottom">
        <div class="col-sm-12">
            <table id="maindatagrid" class="main-table" border="1" bordercolor="#e7eaec" width="100%">
                <tbody>
                    <tr>
                        <td class="ltd" width="20%">填报人</td>
                        <td colspan="12">
                            <input :duplex="@busiAccept.loginName" type="text" placeholder="请输入填报人" class="form-control sl-control">
                        </td>
                    </tr>
                    <tr>
                        <td class="ltd">设备类型</td>
                        <td class="text-center">存在情况</td>
                        <td class="text-center">卫星小站编号</td>
                        <td class="text-center">接收机序列号</td>
                        <td class="text-center">接收机型号</td>
                        <td class="text-center">接收机日期</td>
                        <td class="text-center">网关机型号</td>
                        <td class="text-center">网关机日期</td>
                        <td class="text-center">接受行情类别</td>
                        <td class="text-center">外网机型号</td>
                        <td class="text-center">外网机日期</td>
                        <td class="text-center">内网机型号</td>
                        <td class="text-center">内网机日期</td>
                    </tr>
                    <!--ms-for: (ine,ele) in @busiAccept.businessAcceptDtoList-->
                    <tr>
                        <td class="ltd">{{ele.elementName}}</td>
                        <td class="text-center" style="width:60px">
                            <select class="form-control sl-control" :duplex="@busiAccept.businessAcceptDtoList[ine].isExists" :attr="{name:'ine'+ine}">
                                <option value="1">有</option>
                                <option value="0">无</option>
                            </select>
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].satelliteEtationNo">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].receiverNo">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].receiverType">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].receiverDate">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].gatewayType">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].gatewayDate">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].receiverMarketType">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].extranetType">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].extranetDate">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].intranetType">
                        </td>
                        <td class="text-center">
                            <input type="text"  class="form-control" :duplex="@busiAccept.businessAcceptDtoList[ine].intranetDate">
                        </td>
                    </tr>
                    <!--ms-for-end:-->
                </tbody>
            </table>
        </div>
    </div>
    <!-- 全局js -->
    <script src="../../static/static/js/jquery.min.js?v=2.1.4" th:src="@{/static/js/jquery.min.js}"></script>
    <script src="../../static/static/js/bootstrap.min.js?v=3.3.6" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script src="../../static/static/js/plugins/bootstrap-table/bootstrap-table.min.js" th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script src="../../static/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" th:src="@{/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script src="../../static/static/js/plugins/treeview/bootstrap-treeview.js" th:src="@{/static/js/plugins/treeview/bootstrap-treeview.js}"></script>
    <script src="../../static/static/js/plugins/layer/layer.min.js" th:src="@{/static/js/plugins/layer/layer.min.js}"></script>
    <script src="../../static/static/js/plugins/avalon/avalon.js" th:src="@{/static/js/plugins/avalon/avalon.js}"></script>
    <script src="../../static/static/js/tools.js" th:src="@{/static/js/tools.js}"></script>
    <!-- 自定义js -->
    <!--/*/
    <th:block th:include="common/fragment::contextUrl(@{/rest/businessAccept})">
    /*/-->
    <script type="text/javascript">
    var contextUrl = "/nginx/businessAccept";
    </script>
    <!--/*/
    </th:block>
    /*/-->
    <script type="text/javascript">
    var busiAcceptObj = {
        urlContext: contextUrl,
        urlBusinessAcceptInit: contextUrl + '/init',
        urlBusinessAcceptAdd: contextUrl + '/create',
        urlBusinessAcceptEdit: contextUrl + '/update',
        urlBusinessAcceptFind: contextUrl + '/findBusinessAccept'
    };
    </script>
    <script src="../../static/static/js/daily/businessAccept.js" th:src="@{/static/js/daily/businessAccept.js}"></script>
</body>

</html>
