<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>任务管理</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link rel="shortcut icon" href="../../static/static/favicon.ico" th:href="@{/static/favicon.ico}">
    <link href="../../static/static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet" th:href="@{/static/css/bootstrap.min14ed.css}">
    <link href="../../static/static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}">
    <link href="../../static/static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet" th:href="@{/static/css/font-awesome.min93e3.css}">
    <link href="../../static/static/css/animate.min.css" rel="stylesheet" th:href="@{/static/css/animate.min.css}">
    <link href="../../static/static/css/style.min.css?v=4.1.0" rel="stylesheet" th:href="@{/static/css/style.min.css}">
    <link href="../../static/static/css/common/common-page.css" rel="stylesheet" th:href="@{/static/css/common/common-page.css}">
    <link href="../../static/static/css/pages/daily/task.css" rel="stylesheet" th:href="@{/static/css/pages/daily/task.css}">
</head>

<body class="gray-bg">
    <div id="u_header" class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <div class="title-queryform">
                <form id="queryForm" role="form" class="form-inline">
                    <div class="form-group">
                        <label for="" class="control-label">任务名称：</label>
                        <input type="text" placeholder="请输入名称" id="name_query" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">业务类型：</label>
                        <select class="form-control" id="busiType_query" name="busiType"></select>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="title-querybtn">
                <a class="btn btn-primary" id="queryBtn">查询</a>
            </div>
        </div>
    </div>
    <div id="u_toolbar" class="row wrapper border-bottom white-bg wrapper-content">
        <div class="col-sm-10">
            <div class="toolbar-box text-left">
                <button id="add_btn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#addModal" data-backdrop="static" data-keyboard="false"><i class="fa fa-plus"></i>&nbsp;新增
                </button>
                <button id="edit_btn" class="btn btn-success" type="button" data-toggle="modal" data-target="#editModal" data-backdrop="static" data-keyboard="false"><i class="fa fa-edit"></i>&nbsp;修改
                </button>
                <button id="delete_btn" class="btn btn-danger" type="button" data-toggle="modal" data-target="#deleteModal" data-backdrop="static" data-keyboard="false"><i class="fa fa-remove"></i>&nbsp;删除
                </button>
                <button id="task_template_btn" class="btn btn-success" type="button" data-toggle="modal" data-target="#templateModal" data-backdrop="static" data-keyboard="false"><i class="fa fa-edit"></i>&nbsp;配置模板
                </button>
                <button id="task_organization_btn" class="btn btn-success" type="button" data-toggle="modal" data-target="#organizationModal" data-backdrop="static" data-keyboard="false"><i class="fa fa-edit"></i>&nbsp;配置部门
                </button>
                <button id="action_btn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#actionModal" data-backdrop="static" data-keyboard="false"><i class="fa fa-star"></i>&nbsp;启动任务
                </button>
                <button id="disable_btn" class="btn btn-danger" type="button" data-toggle="modal" data-target="#disableModal" data-backdrop="static" data-keyboard="false"><i class="fa fa-stop"></i>&nbsp;停止任务
                </button>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="toolbar-box text-right title-querybtn">
                <a class="btn btn-white btn-bitbucket" href="javascript:void(0);" onclick="location.reload();">
                    <i class="fa fa-refresh"></i>刷新
                </a>
            </div>
        </div>
    </div>
    <div class="row datagrid-box white-bg border-bottom">
        <div class="col-sm-12">
            <table id="maindatagrid"></table>
        </div>
    </div>
    <!-- 增删改弹框 start -->
    <!-- 新增 -->
    <div class="modal fade" id="addModal" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addModalLabel">新增</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm" role="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">任务名：</label>
                            <input type="text" placeholder="请输入任务名" class="form-control" id="name_add" name="name">
                        </div>
                        <div class="form-group">
                            <label class="control-label">任务类型：</label>
                            <select class="form-control m-b" id="type_add" name="type">
                                <option value="LONGTIME">长期任务</option>
                                <option value="TEMP">临时任务</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">开始时间：</label>
                            <input placeholder="开始日期" class="form-control layer-date" id="startDate_add" name="startDate">
                        </div>
                        <div class="form-group" id="endDateAdddiv">
                            <label class="control-label">结束时间：</label>
                            <input placeholder="结束日期" class="form-control layer-date" id="endDate_add" name="endDate">
                        </div>
                        <div class="form-group">
                            <label class="control-label">业务类型：</label>
                            <select class="form-control m-b" id="busiType_add" name="busiType">
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">备注：</label>
                            <input type="text" placeholder="请选择备注" class="form-control" id="remark_add" name="remark">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="addFormErrMsg" class="pull-left errmsg m-t-xs"></span>
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button id="addModalBtn" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改 -->
    <div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="editModalLabel">修改</h4>
                </div>
                <div class="modal-body">
                    <form id="editForm" role="form" class="form-horizontal">
                        <input type="hidden" placeholder="id" class="form-control" id="id_edit" name="id">
                        <div class="form-group">
                            <label class="control-label">任务名：</label>
                            <input type="text" placeholder="请输入任务名" class="form-control" id="name_edit" name="name">
                        </div>
                        <div class="form-group">
                            <label class="control-label">任务类型：</label>
                            <select class="form-control m-b" id="type_edit" name="type">
                                <option value="LONGTIME">长期任务</option>
                                <option value="TEMP">临时任务</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">开始时间：</label>
                            <input placeholder="开始日期" class="form-control layer-date" id="startDate_edit" name="startDate">
                        </div>
                        <div class="form-group" id="endDateEditdiv">
                            <label class="control-label">结束时间：</label>
                            <input placeholder="结束日期" class="form-control layer-date" id="endDate_edit" name="endDate">
                        </div>
                        <div class="form-group">
                            <label class="control-label">业务类型：</label>
                            <select class="form-control m-b" id="busiType_edit" name="busiType" disabled="disabled"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">备注：</label>
                            <input type="text" placeholder="请选择备注" class="form-control" id="remark_edit" name="remark">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="editFormErrMsg" class="pull-left errmsg m-t-xs"></span>
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button id="editModalBtn" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 启动任务 -->
    <div class="modal fade" id="actionModal" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="actionModalLabel">启动任务</h4>
                </div>
                <div class="modal-body">
                    <p>确定启动任务吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button id="actionModalBtn" type="button" class="btn btn-danger">启动任务</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 停止任务 -->
    <div class="modal fade" id="disableModal" role="dialog" aria-labelledby="disableModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="disableModalLabel">停止任务</h4>
                </div>
                <div class="modal-body">
                    <p>确定停止任务吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button id="disableModalBtn" type="button" class="btn btn-danger">停止任务</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 删除 -->
    <div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="deleteModalLabel">删除</h4>
                </div>
                <div class="modal-body">
                    <p>确定删除吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button id="deleteModalBtn" type="button" class="btn btn-danger">删除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 增删改弹框 end-->
    <!-- 任务模板管理 -->
    <div class="modal fade" id="templateModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="editLabel">任务模板管理</h4>
                </div>
                <div class="modal-body">
                    <form id="templateForm" role="form" class="form-horizontal">
                        <div id="templateEditContainer" class="form-group">
                            <div class="col-sm-5 left-p">
                                <fieldset>
                                    <select id="templateLeft" class="form-control left-right-slt" multiple="">
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-sm-1 left-right-p">
                                <input type="button" value=" >> " id="leftBtn" class="btn btn-white block center-block">
                                <input type="button" value=" << " id="rightBtn" class="btn btn-white block center-block m-t-xs">
                            </div>
                            <div class="col-sm-5 right-p">
                                <fieldset>
                                    <select id="templateRight" class="form-control left-right-slt" multiple="">
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button id="templateModalBtn" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 任务部门关联 -->
    <div class="modal fade" id="organizationModal" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="editOrganizationLabel">任务部门关联</h4>
                </div>
                <div class="modal-body">
                    <form id="organizationForm" role="form" class="form-horizontal">
                        <div id="organizationEditContainer" class="form-group">
                            <div class="col-sm-5 left-p">
                                <fieldset>
                                    <select id="organizationLeft" class="form-control left-right-slt" multiple="">
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-sm-1 left-right-p">
                                <input type="button" value=" >> " id="leftOrganizationBtn" class="btn btn-white block center-block">
                                <input type="button" value=" << " id="rightOrganizationBtn" class="btn btn-white block center-block m-t-xs">
                            </div>
                            <div class="col-sm-5 right-p">
                                <fieldset>
                                    <select id="organizationRight" class="form-control left-right-slt" multiple="">
                                    </select>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button id="organizationModalBtn" type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 部门树弹框 start-->
    <div class="modal fade" id="orgaModal" role="dialog" aria-labelledby="orgaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="orgaModalLabel">选择部门</h4>
                </div>
                <div class="modal-body modal-max-height">
                    <div id="treeLoadTip" style="display: none;"></div>
                    <div id="orgaTree" style="display: none;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
                    <button id="orgaModalBtn" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 部门树弹框 end-->
    <!-- 全局js -->
    <script src="../../static/static/js/jquery.min.js?v=2.1.4" th:src="@{/static/js/jquery.min.js}"></script>
    <script src="../../static/static/js/plugins/validate/jquery.validate.js" th:src="@{/static/js/plugins/validate/jquery.validate.js}"></script>
    <script src="../../static/static/js/bootstrap.min.js?v=3.3.6" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script src="../../static/static/js/plugins/bootstrap-table/bootstrap-table.js" th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.js}"></script>
    <script src="../../static/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js" th:src="@{/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script src="../../static/static/js/plugins/treeview/bootstrap-treeview.js" th:src="@{/static/js/plugins/treeview/bootstrap-treeview.js}"></script>
    <script src="../../static/static/js/plugins/layer/layer.min.js" th:src="@{/static/js/plugins/layer/layer.min.js}"></script>
    <script src="../../static/static/js/plugins/layer/laydate/laydate.js" th:src="@{/static/js/plugins/layer/laydate/laydate.js}"></script>
    <script src="../../static/static/js/tools.js" th:src="@{/static/js/tools.js}"></script>
    <!-- 自定义js -->
    <!--/*/
    <th:block th:include="common/fragment::contextUrl(@{/rest/task})">
    /*/-->
    <script type="text/javascript">
    var contextUrl = "/nginx/task";
    </script>
    <!--/*/
    </th:block>
    /*/-->
    <script type="text/javascript" th:inline="javascript">
    var dictionary = [[${data}]];
    var taskObj = {
        urlContext: contextUrl,
        urlTaskQuery: contextUrl + '/list',
        urlTaskAdd: contextUrl + '/create',
        urlTaskEdit: contextUrl + '/update',
        urlTaskDelete: contextUrl + '/delete',
        urlTaskAction: contextUrl + '/action',
        urlTaskDisable: contextUrl + '/disable',
        urlTaskOrganizationQuery: contextUrl + '/task/organization/query',
        urlTaskOrganizationUpdate: contextUrl + '/task/organization/update',
        urlTaskTemplateQuery: contextUrl + '/task/template/query',
        urlTaskTemplateUpdate: contextUrl + '/task/template/update'
    };
    </script>
    <script>
    var startDate_add = {
        elem: "#startDate_add",
        format: "YYYY-MM-DD hh:mm:ss",
        min: laydate.now(),
        max: "2099-06-16 23:59:59",
        istime: true,
        istoday: false,
        start: laydate.now(new Date().getTime() + 3600000, "YYYY-MM-DD hh:mm:ss"),
        choose: function(datas) {
            endDate_add.min = datas;
            endDate_add.start = datas
        }
    };
    var endDate_add = {
        elem: "#endDate_add",
        format: "YYYY-MM-DD hh:mm:ss",
        min: laydate.now(),
        max: "2099-06-16 23:59:59",
        istime: true,
        istoday: false,
        choose: function(datas) {
            startDate_add.max = datas;
        }
    };
    var startDate_edit = {
        elem: "#startDate_edit",
        format: "YYYY-MM-DD hh:mm:ss",
        min: laydate.now(),
        max: "2099-06-16 23:59:59",
        istime: true,
        istoday: false,
        choose: function(datas) {
            endDate_edit.min = datas;
            endDate_edit.start = datas
        }
    };
    var endDate_edit = {
        elem: "#endDate_edit",
        format: "YYYY-MM-DD hh:mm:ss",
        min: laydate.now(),
        max: "2099-06-16 23:59:59",
        istime: true,
        istoday: false,
        choose: function(datas) {
            startDate_edit.max = datas;
        }
    };
    laydate(startDate_add);
    laydate(endDate_add);
    laydate(startDate_edit);
    laydate(endDate_edit);
    </script>
    <script src="../../static/static/js/daily/task.js" th:src="@{/static/js/daily/task.js}"></script>
</body>

</html>
