/*密码*/

.content {
    width: 800px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 64px;
}

.c-title hr {
    margin: 0 0 10px;
    border-color: #aaa;
}

.formbox {
    padding: 20px 40px 0 30px;
}

.formbox label {
    margin-top: 8px;
}

.form-control:focus,
.single-line:focus {
    border-color: #e01b21!important;
}

.btn-box {
    width: 750px;
    border: 1px solid;
    margin: 30px auto;
}

.func-box {
    margin: 30px auto;
}

#resetFormErrMsg {
    display: none;
}
