<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网下投资者信息填报系统-重置密码</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link rel="shortcut icon" href="../static/static/favicon.ico" th:href="@{/static/favicon.ico}">
    <link href="../static/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link href="../static/static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/static/css/font-awesome.min.css}">
    <link href="../static/static/css/style.min.css" rel="stylesheet" th:href="@{/static/css/style.min.css}">
    <link href="../static/static/info/css/common.css" rel="stylesheet" th:href="@{/static/info/css/common.css}">
    <!-- <link href="../static/static/info/css/register.css" rel="stylesheet" th:href="@{/static/info/css/register.css}"> -->
    <link href="../static/static/info/css/password.css" rel="stylesheet" th:href="@{/static/info/css/password.css}">
</head>

<body :controller="indexObj">
    <nav class="navbar navbar-default navbar-fixed-top border-bottom white-bg">
        <div class="container">
            <div class="header">
                <div class="logo">
                    <a href="http://www.e5618.com/">
                        <img src="../static/static/info/images/logo_new.gif" th:src="@{/static/info/images/logo_new.gif}">
                    </a>
                </div>
                <div class="title">
                    <h1>网下投资者信息填报系统</h1>
                </div>
                <div class="menu">
                    <a href="logout">返回登录</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-wrapper">
        <div class="row">
            <div class="content">
                <div class="c-title">
                    <h2>重置密码</h2>
                    <hr>
                </div>
                <div class="btn-box">
                    <div class="formbox">
                        <!--/*@thymesVar id="error" type="java.lang.String"*/-->
                        <p class="text-danger text-center" th:text="${error}"></p>
                        <form id="resetForm" class="form-horizontal" th:action="@{/resetPassword}" method="post">
                            <div class="form-group">
                                <label for="userName" class="col-xs-2 text-right">证件号</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="userName" name="userName" placeholder="请输入证件号" required="required" th:value="${param.userName}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobileNoOrEmail" class="col-xs-2 text-right">手机号或邮箱</label>
                                <div class="col-xs-10">
                                    <input type="" class="form-control" id="mobileNoOrEmail" name="mobileNoOrEmail" placeholder="请输入手机号或邮箱" required="required" th:value="${param.mobileNoOrEmail}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="jcaptchaCode" class="col-xs-2 text-right">校验码</label>
                                <div class="col-xs-8">
                                    <input type="text" id="jcaptchaCode" name="jcaptchaCode" class="form-control" placeholder="验证码" required="required">
                                </div>
                                <div class="col-xs-2" style="margin-left: -15px;">
                                    <a href="#" th:onclick="'refreshCaptcha(this,\''+@{/jcaptcha.jpg}+ '\');'">
                                <img class="jcaptcha-btn jcaptcha-img" src="../static/static/info/images/jcaptcha.jpg" th:src="@{/jcaptcha.jpg}" title="点击更换验证码">
                            </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="verifyCode" class="col-xs-2 text-right">验证码</label>
                                <div class="col-xs-8">
                                    <input type="text" id="verifyCode" name="verifyCode" class="form-control" placeholder="请输入验证码" required="required">
                                </div>
                                <div class="col-xs-2" style="margin-left: -15px;">
                                    <a href="#" class="btn btn-danger" id="btnSendVerificationCode">获得验证码</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-xs-2 text-right">新密码</label>
                                <div class="col-xs-10">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmedPassword" class="col-xs-2 text-right">确认密码</label>
                                <div class="col-xs-10">
                                    <input type="password" class="form-control" id="confirmedPassword" name="confirmedPassword" placeholder="请再次输入密码" required="required">
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <div class="checkbox col-xs-10 col-xs-offset-2">
                                    <label>
                                        <input type="checkbox">我已阅读并接受<a href="#">注册条款</a>
                                    </label>
                                </div>
                            </div> -->
                        </form>
                    </div>
                    <div class="func-box text-center">
                        <button id="btnSubmit" type="button" class="m-btn btn-sm">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
    <script src="../static/static/js/validate/jquery.validate.js" th:src="@{/static/js/validate/jquery.validate.js}"></script>
    <script src="../static/static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script src="../static/static/info/js/captcha.js" th:src="@{/static/info/js/captcha.js}"></script>
    <script src="../static/static/js/layer/layer.js" th:src="@{/static/js/layer/layer.js}"></script>
    <script src="../static/static/js/tools.js" th:src="@{/static/js/tools.js}"></script>
    <!-- 自定义js -->
    <!--/*/
    <th:block th:include="common/fragment::contextUrl(@{/rest/VerificationCode})">
    /*/-->
    <script type="text/javascript">
    var contextUrl = "/nginx";
    </script>
    <!--/*/
    </th:block>
    /*/-->
    <script type="text/javascript" th:inline="javascript">
    var userObj = {
        urlContext: contextUrl,
        urlSendVerificationCode: contextUrl + '/create',
    };
    </script>
    <script src="../static/static/info/js/resetPassword.js" th:src="@{/static/info/js/resetPassword.js}"></script>
</body>
